*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 400;
}

html{
    height: 100%;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:visited{
    color: var(--text-primary-color);
}

button{
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

:root{
    --primary-color: #1b68e3;
    --text-primary-color: white;

}


/* ====HEADER==== */
header{
    background-color: var(--primary-color);
    height: 5.5rem;
    width: 100%;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
    align-items: center;

}

.flex{
    display: flex;
}

.logo{
    flex: 3;
    color: var(--text-primary-color);
}

ul.menu-desktop{
    list-style-type: none;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

ul.menu-desktop a{
    color: var(--text-primary-color);
}

/* ====SECTION-1==== */

.section-1{
    background-color: var(--primary-color);
    padding-top: 4rem;
    position: relative;
    width: 100%;
}

.section-1::before,
.section-1::after{
    content: '';
    background-color:white;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -70px;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.grid{
    display: grid;
}


.introduction{
    color: var(--text-primary-color);
    width: 100%;
    animation-name: toRight;
    animation-duration: 1s;
}

.introduction h1{
    font-size: 48px;
}

.introduction p{
    padding: 1rem 0;
    max-width: 550px;
}

.introduction button{
    width: 130px;
    height: 50px;
    border: var(--text-primary-color);
    color: var(--text-primary-color);
    border: 1px solid var(--text-primary-color);
    background-color: var(--primary-color);
    border-radius: 3px;
    font-size: 15px;
    margin-top: 1rem;
}

@keyframes toRight{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}


.form-box{
    width: 600px;
    height: 400px;
    padding: 3rem 2rem;
    color: #676b70;
    background-color: white;
    border-radius: 20px;
    position: relative;
    top: 45px;
    -webkit-box-shadow: 0px 0px 14px -3px #000000; 
    box-shadow: 0px 0px 14px -3px #000000;
    z-index: 999;
    animation-name: toLeft;
    animation-duration: 1s;
}

.form-box input[type="text"]{
    width: 100%;
    margin-top: 2rem;
    border: 0;
    border-bottom: 1px solid #676b70;
    line-height: 40px;
}

.form-box input[type="text"]:active{
    border: none;
}

.form-box button{
    margin-top: 2rem;
    background-color: var(--primary-color);
    color: white;
    width: 85px;
    height: 35px;
    border-radius: 7px;
    border: none;
}

@keyframes toLeft{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}

/* ====SECTION-2==== */
.section-2{
    padding-top:100px;
}

.stats{
    text-align: center;
    animation-name: goUp;
    animation-duration: 1s;
}

.stats h4{
    max-width: 500px;
    margin: 0 auto;
    font-size: 18px;
}

@keyframes goUp{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}

.box{
    justify-content: space-evenly;
    margin-top: 4rem;
}

.stats .box h3{
    font-size: 40px;
    margin: 1rem 0;
}

.text-secondary{
    font-size: 18px;
}

/* ====Cli==== */
.cli{
    margin-top: 5rem;
}

.cli-img{
    height: 250px;
}

.box{
    margin-bottom: 4.5rem;
}

.single-box{
    width: 21rem;
    padding: 20px 25px;
    border: none;
    border-radius: 11px;
    -webkit-box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.34); 
    box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.34);
}

.single-box:not(:first-child){
    margin-top: 1.5rem;
}

/* Hosting */
.hosting{
    background-color: var(--primary-color);
    max-width: 100%;
}

.hosting-details{
    color: var(--text-primary-color);
    text-align: center;
}

.hosting-details h2{
    font-size: 50px;
    font-weight: 300;
}

.hosting-details p{
    font-size: 16px;
    margin: 1rem 0;
}

.hosting-details button{
    width: 130px;
    height: 50px;
    color: var(--text-primary-color);
    border: none;
    background-color: black;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 1rem;
}

.cloud-img{
    height: 370px;
    margin-left: 20px;
}

/* ====SUPPORTED-LANGUAGES-SECTION==== */
.demo{
    text-align: center;
    padding: 2rem 0;
    align-items: center;
}

.demo .container{
    max-width: 1280px;
}

.demo h2{
    font-size: 29.8px;
}

.languages-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.6rem;
    flex-wrap: wrap;
}

.languages-single{
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    margin-top: 1.2rem;
    -webkit-box-shadow: 0px 0px 14px -3px #000000; 
    box-shadow: 0px 0px 14px -3px #000000;
    transition: transform 0.2s ease;
}

.languages-single:hover{
    transform: translateY(-8px);
}

.languages-single h4{
    font-size: 21px;
}

/* ====FOOTER==== */
footer{
    background-color: #415c87;
    color: var(--text-primary-color);
    padding: 5rem 0;
}

footer .flex{
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon-footer{
    width: 300px;
    height: 50px;
}

.icon-footer i a{
    cursor: pointer;
}

.menu-footer{
    list-style-type: none;
}

.menu-footer li:not(:first-child){
    margin-top: 0.5rem;
}

.logo-footer h2{
    font-size: 29px;
}


/* ====FEATURES PAGE==== */
.intro-features{
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    height: 320px;
    align-items: center;
}

.intro-features .container{
    justify-content: space-between;
}

.feat-title{
    max-width: 500px;
}

.feat-title h1{
    font-size: 65px;
}

.intro-features img{
    height: 240px;
}

/* Our Platform - Section */
.our-platform{
    height: 400px;
    background-color: rgba(243, 243, 243, 0.678);
}

.our-platform .container{
    justify-content: space-between;
}

.platform-text{
    max-width: 640px;
}

.platform-text h2{
    font-size: 32px;
}

.platform-text p{
    margin-top: 0.8rem;
}

.our-platform img{
    height: 330px;
}


/* Services - Section */
.services{
    height: 600px;
    padding: 1rem 0;
}

.services .grid{
    grid-template-columns: 1fr 1fr;
}

.card{
    max-width: 480px;
    -webkit-box-shadow: -1px 0px 15px 3px rgba(0,0,0,0.2); 
    box-shadow: -1px 0px 15px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    align-items: center;
    padding: 1.9rem 1.2rem;
    height: 150px;
}

.card p{
    margin-left: 1.2rem;
}





/* ====MEDIA QUERIES==== */

/* 1250px */
@media screen and (max-width: 1250px){
    .container{
        max-width: 970px;
    } 
    
    /* Header */
    ul.menu-desktop{
        flex: 2;
    }

    /* ====FEATURES PAGE==== */

    /* Services */
    .services .container{
        max-width: 1100px;
        margin-right: 0;
    }


}

/* 1210px */
@media screen and (max-width: 1210px){
    /* Header */
    ul.menu-desktop{
        flex: 2;
    }
    /* Section-1 */
    .section-1 .container{
        flex-direction: column;
        text-align: center;
    }

    .introduction p{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .form-box{
        width: 550px;
    }

    /* Cli */
    .cli .container{
        flex-direction: column;
    }
}

/* 1145px */
@media screen and (max-width: 1145px){


    /* ====FEATURES PAGE==== */
    .services .container{
        max-width: 1000px;
        margin: 0 auto;
    }
}

/* 1010px */
@media screen and (max-width: 1010px){
    /* Header */
    header .container{
        max-width: 750px;
    }

    ul.menu-desktop{
        flex: 3;
    }

    /* Hosting */
    .hosting{
        padding: 2.3rem 0;
    }

    .hosting .flex{
        flex-direction: column;
    }

    .cloud-img{
        margin-top: 2.3rem;
    }

    /* Languages */
    .demo .container{
        max-width: 800px;
    }

    .languages-single{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }


    /* ===FEATURES PAGE=== */
    .intro-features .container{
        max-width: 800px;
    }

    .our-platform .container{
        max-width: 800px;
    }

    /* Services */
    .services{
        height: auto;
        margin: 0 auto;
    }

    .services .container{
        max-width: 400px;
    }

    .services .grid{
        grid-template-columns: 1fr;
    }

    .services .card:not(:first-child){
        margin-top: 1rem;
    }

}

/* 850 */
@media screen and (max-width: 850px){
    /* ===FEATURES PAGE=== */
    .intro-features .container{
        max-width: 650px;
    }

    .our-platform .container{
        max-width: 650px;
    }
}

/* 780px */
@media screen and (max-width: 780px){
    /* Header */
    header .container{
        max-width: 650px;
    }

    /* Stats */
    .section-2 .box.flex{
        flex-direction: column;
    }

    .section-2 i{
        margin-top: 3rem;
    }


    /* ===FEATURES PAGE==== */
    .intro-features img{
        display: none;
    }

    .our-platform{
        height: auto;
        text-align: center;
        padding: 2rem 3rem;
    }

    .our-platform .flex{
        flex-direction: column;
    }

    .services{
        padding: 2rem 3rem;
    }


    

/* 680px */
@media screen and (max-width: 680px){
    /* Header */
    header .container{
        max-width: 450px;
    }

    ul.menu-desktop{
        display: none;
    }

    /* Section-1 */
    .section-1 .container{
        max-width: 450px;
    }

    .introduction{
        max-width: 400px;
    }

    .form-box{
        width: 450px;
    }

    /* Cli */
    .cli-img{
        height: 180px;
    }

    /* Footer */
    footer .flex{
        flex-direction: column;
    }

    .logo-footer{
        text-align: center;
    }

    .menu-footer{
        margin-top: 3rem;
        text-align: center;
    }

    .icon-footer{
        margin-top: 3rem;
        text-align: center;
    }


    /* ===FEATURES PAGE=== */
    .intro-features .container{
        max-width: 450px;
    }
}

